// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "main";

.hide {
  display: none;
}
.sub_comments_section {
  border: 1px solid #73AD21;
  right: 200px;
}

.no_bullets {
  list-style-type: none;
}

.align_center {
  margin-left: 50%;
}